$pink: #b2004e;
$light-pink: #d63169;
$lightest-pink: #f9edf2;
$black: #2d2d2d;
$blue: #373868;
$dark-blue: #1b0043;
$light-blue: #efeff3;

$blue-gradient-start: #41427b;
$blue-gradient-end: #373868;
